.rate {
    background: url('../img/rate/bg.jpg') center no-repeat;
    background-size: cover;

    margin-bottom: 120px;


}

.rate-wrapper {
    position: relative;
    height: 600px;
    width: 100%;


}

.rate-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    width: 510px;
    margin: auto;

}
.rate-title {
    font-weight: 500;
    font-size: 58px;
    line-height: 120%;

    margin-bottom: 20px;
}
.rate-desc {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    font-feature-settings: 'pnum' on, 'lnum' on;

    margin-bottom: 50px;
}

.rate-link {
    font-weight: 500px;
    font-size: 16px;
    line-height: 1;


    text-align: center;

    color: white;

    background: #FA9F42;
    border-radius: 0px 20px;

    padding: 20px 56px;

    transition: 0.2s ease-in;

    &:hover {
        background-color: #FFBA74;
    }
}